.top-bar {
    height: 67px;
    background-color: #C3CFD9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.top-bar-title {
    font-size: 34px;
    color: #E8833A;
    text-align: center;
    padding-top: 17px;
   
}